.datingCards__container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.card {
    position: relative; 
    background-color: white;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    box-shadow: 0px 18px 53px 0px rgba(70, 68, 68, 0.3);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.swipe {
    position: absolute;
}

.cardContent {
    position: absolute; /* Allow absolute positioning within the card */
    top: 0;             /* Position content at the top */
    left: 0;            /* Position content at the left */
    padding: 10px;      /* Optional: add padding for space from edges */
    width: auto;        /* Set width as needed */
    height: auto;       /* Set height as needed */
}

.card h3 {
    position: absolute;
    top: 0;            /* Positions text at the top */
    left: 0;           /* Positions text to the left */
    width: 100%;       /* Makes the text container full width */
    margin: 10px;      /* Optional: adds space around the text */
    color: #4CAF50; /* A green color */
    text-align: left; /* Centers text horizontally */
}
