/* Reset margins and paddings - '*' applies to all elements */
* {
  margin: 0;
  padding: 0;
 }

h1 {
  color: blue;
  text-align: left;
}

.container {
  padding: 20px;
  background-color: #f0f0f0;
}